// needed for bootstrap
// see: https://github.com/webpack-contrib/sass-loader/issues/40
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'variables';

a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
    color: #a4a4a4;
}

a:hover {
    color: $color_warm;
}

a.router-link-active {
    color: $color_warm;
}
